<div class="section-content">
    <div class="limited-container flex justify-center gap-24 items-center">
        <div class="image-container relative w-[365px] h-[455px] flex justify-center">
            <div class="bg-color absolute bottom-0 left-0 h-[90%] rounded-[6px] w-full bg-primary z-[1]"></div>
            <img src="assets/static/images/home/presentation.png" class="w-ful h-full relative z-[2]" alt="">
            <svg class="z-[1] absolute top-[60%] -translate-y-[50%]" width="464" height="436" viewBox="0 0 464 436" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f_194_117)">
                <ellipse cx="232" cy="218" rx="162" ry="148" fill="#23C2FB" fill-opacity="0.49"/>
                </g>
                <defs>
                <filter id="filter0_f_194_117" x="0" y="0" width="464" height="436" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="35" result="effect1_foregroundBlur_194_117"/>
                </filter>
                </defs>
            </svg>
        </div>

        <div class="content flex justify-start items-end max-w-[500px]">
            <div class="parent h-[90%] flex flex-col gap-6">
                <div class="title">
                    <h1 class="text-primary text-[1.875rem] font-bold">
                        Quem somos
                    </h1>
                </div>
                <div class="description">
                    <p class="">
                        Somos uma empresa de referência, com uma equipe de profissionais altamente qualificados e especializados em sistemas de ar condicionado para residências e empresas.
                    </p>
                    <p class="mt-6">
                        Sempre buscamos a excelência em qualidade e atendimento.
                    </p>
                </div>
                <div class="cta">
                    <a [routerLink]="['']" class="text-white text-base py-2 px-5 rounded-full w-fit block bg-secondary shadowss-[0px_4px_4px_rgba(0,0,0,25%)]">
                        Ler mais
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>