<footer class="bg-primary py-[50px]">
    <div class="limited-container">
        <div class="cols flex justify-between items-stretch">
            <div class="about max-w-[273px] flex flex-col gap-4">
                <div class="logo">
                    <img src="assets/static/logo.png" alt="">
                </div>
                <div class="description">
                    <p class="text-white text-base">
                        Proporcionamos conforto em climatização, assim como soluções técnicas específicas, através de processos ágeis, seguros e eficazes.
                    </p>
                </div>
            </div>
            <div class="support max-w-[273px] flex flex-col gap-4">
                <div class="title">
                    <h1 class="text-white font-bold text-[1.875rem] text-left">Suporte</h1>
                </div>
                <div class="items flex flex-col gap-3">
                    <div class="item">
                        <a [routerLink]="['/']" class="text-white flex gap-2 justify-start items-center">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.3335 5.8335L12.5002 10.0002L8.3335 14.1668" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            FAQs
                        </a>
                    </div>
                    <div class="item">
                        <a [routerLink]="['/']" class="text-white flex gap-2 justify-start items-center">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.3335 5.8335L12.5002 10.0002L8.3335 14.1668" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Home
                        </a>
                    </div>
                    <div class="item">
                        <a [routerLink]="['/about-us']" class="text-white flex gap-2 justify-start items-center">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.3335 5.8335L12.5002 10.0002L8.3335 14.1668" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Sobre Nós
                        </a>
                    </div>
                    <div class="item">
                        <a [routerLink]="['/services']" class="text-white flex gap-2 justify-start items-center">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.3335 5.8335L12.5002 10.0002L8.3335 14.1668" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Serviços
                        </a>
                    </div>
                    <div class="item">
                        <a [routerLink]="['/terms-and-policies']" class="text-white flex gap-2 justify-start items-center">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.3335 5.8335L12.5002 10.0002L8.3335 14.1668" stroke="white" stroke-width="2.75" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Termos e Políticas
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts max-w-[273px] flex flex-col gap-4">
                <div class="title">
                    <h1 class="text-white font-bold text-[1.875rem] text-left">Contactos</h1>
                </div>
                <div class="items flex flex-col gap-3">
                    <div class="item">
                        <p class="text-white flex gap-2 justify-start items-center">
                            Email: geral&#64;autoresi.com
                        </p>
                    </div>
                    <div class="item">
                        <p class="text-white flex gap-2 justify-start items-center">
                            Telefone: +244 000 111 222
                        </p>
                    </div>
                    <div class="item">
                        <p class="text-white flex gap-2 justify-start items-center">
                            Telefone: +244 244 333 444
                        </p>
                    </div>
                </div>
            </div>
            <div class="time max-w-[273px] flex flex-col gap-4">
                <div class="title">
                    <h1 class="text-white font-bold text-[1.875rem] text-left">Horários</h1>
                </div>
                <div class="items flex flex-col gap-3">
                    <div class="item">
                        <div class="flex gap-2 justify-start items-stretch">
                            <div class="times">
                                <p class="text-white flex flex-col gap-1">
                                    Segunda à Sexta: 08h - 17h
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="flex gap-2 justify-start items-stretch">
                            <div class="times">
                                <p class="text-white">
                                    Sábado: 08h -12h
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location max-w-[273px] flex flex-col gap-4">
                <div class="title">
                    <h1 class="text-white font-bold text-[1.875rem] text-left">Localização</h1>
                </div>
                <div class="items flex flex-col gap-3">
                    <div class="item">
                        <p class="text-white flex gap-2 justify-start items-center">
                            Endereço: Gatotkaca Tower 17th Floor, Jl. Cempaka Wangi No 22 Jakarta - Indonesia
                        </p>
                    </div>
                    <div class="item">
                        <div class="map">
                            <img src="assets/static/images/footer/map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>