<div class="page-container flex flex-col gap-14">
    <div class="hero-section">
        <app-hero
        [cover]="'assets/images/about/hero/cover.png'"
        [overlay]="true"
        >
            <div class="content absolute bottom-0 left-[50%] z-[5] w-full max-w-[988px] -translate-x-[50%]">
                <div class="centered-image">
                    <img src="assets/static/images/home/hero-content.png" class="" alt="">
                </div>
                <div class="centered-content max-w-[687px] h-[50%] text-white flex flex-col gap-4 px-12 absolute top-[55%] left-0 -translate-y-[55%]">
                    <div class="welcome">
                        <p class=" text-base font-semibold">
                            Conheça a nosa história
                        </p>
                    </div>
                    <div class="title">
                        <h1 class=" text-[4rem] leading-[4.813rem] font-extrabold">
                            Quem somos
                        </h1>
                    </div>
                    <div class="description">
                        <!-- <p class=" text-base max-w-[426px]">
                            Na sua empresa ou no lar da sua casa, criamos o clima perfeito.
                        </p> -->
                    </div>
                    <div class="cta">
                        <!-- <a [routerLink]="['']" class="uppercase text-white font-semibold text-sm py-3 px-6 rounded-full w-fit block bg-secondary shadowss-[0px_4px_4px_rgba(0,0,0,25%)]">
                            Contactar
                        </a> -->
                    </div>
                </div>
            </div>
        </app-hero>
    </div>

    <div class="presentation">
        <app-presentation />
    </div>
    
    <div class="values-section">
        <app-values />
    </div>
</div>