<div class="hero-container relative">
    <div class="hero-main-content relative h-[596px] overflow-hidden bg-no-repesat bg-covesr"
    >
    <!-- [style.backgroundImage]="this.cover() | urlable" -->
        <div class="cover-image w-full h-auto">
            <img [src]="cover()" class="w-full h-full z-[1] object-cove object-center" alt="">
        </div>
        @if (overlay()) {
            <div class="overlay w-full z-[2] absolute left-0 top-0 h-full bg-primary/20"></div>
        }
        <ng-content></ng-content>
    </div>
    <div class="bottom-rectangle w-full z-[5] h-[56px] bg-[linear-gradient(90deg,#012CB6_59%,#23C2FB_100%)]"></div>
</div>