<div class="section-container py-10 flex flex-col gap-5">
    <div class="limited-container flex flex-col gap-[10px] items-center">
        <div class="title">
            <h1 class="text-primary text-[1.875rem] uppercase font-bold">
                Nossos valores
            </h1>
        </div>
    </div>

    <div class="second-section py-20 bg-[#EAEDEE]">
        <div class="limited-container flex flex-col gap-[10px] items-center">
            <div class="benefits flex flex-wrap gap-5 justify-center items-stretch">
                <div class="box duration-[.6s] bg-white max-w-[300px] rounded p-6 flex flex-col gap-2 justify-between">
                    <div class="content text-black flex flex-col gap-3">
                        <div class="description">
                            <p class="text-sm">
                                Realizamos a instalação completa dos sistemas de climatização e refrigeração.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box duration-[.6s] bg-white max-w-[300px] rounded p-6 flex flex-col gap-2 justify-between">
                    <div class="content text-black flex flex-col gap-3">
                        <div class="description">
                            <p class="text-sm">
                                Oferecemos serviços de reparo para garantir o perfeito funcionamento dos seus equipamentos.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box duration-[.6s] bg-white max-w-[300px] rounded p-6 flex flex-col gap-2 justify-between">
                    <div class="content text-black flex flex-col gap-3">
                        <div class="description">
                            <p class="text-sm">
                                Oferecemos uma gama completa de soluções para atender todas as suas necessidades com qualidade e eficiência.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box duration-[.6s] bg-white max-w-[300px] rounded p-6 flex flex-col gap-2 justify-between">
                    <div class="content text-black flex flex-col gap-3">
                        <div class="description">
                            <p class="text-sm">
                                Oferecemos uma gama completa de soluções para atender todas as suas necessidades com qualidade e eficiência.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="third-section my-20">
        <div class="limited-container flex justify-between items-stretch">
            <div class="mission-box w-full">
                <div class="title mb-3">
                    <h1 class="text-primary text-center text-[1.875rem] uppercase font-bold">
                        Missão
                    </h1>
                </div>
                <div class="description bg-primary p-16">
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    </p>
                </div>
            </div>
            <div class="vision-box w-full">
                <div class="title mb-3">
                    <h1 class="text-primary text-center text-[1.875rem] uppercase font-bold">
                        Visão
                    </h1>
                </div>
                <div class="description bg-secondary p-16">
                    <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>